/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  background-color: #003F8E;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  background-color: #120E26;
}

#navigation .section {

}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}

#secondary-links {
  height: 2.6em;
  background-color: #120E26;
}

#secondary-links ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  padding-top: 7px;
}

#secondary-menu.links li a {
  padding: 0px 15px 4px 15px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  font-size: 1em; /* 12px x 1.5 = 18px */
  line-height: 1.5em;
  color: #CCCCCC;  
  font-family: 'Gill Sans', arial, serif;
}
