/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
#main-menu li a.active, 
#secondary-links li a.active {
  background-color: #003F8E;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  background-color: #120E26;
}

#navigation .section {

}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}

#secondary-links {
  height: 3em;
  background-color: #120E26;
}

#service-links, 
#secondary-menu {
  display: inline;
}

#secondary-menu {
  float: left;
  margin-top: 10px;
}

#service-links {
  float: right;
  margin-top: 0px;
}

#service-links.links li a, 
#secondary-menu.links li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  font-size: 1em; /* 12px x 1.5 = 18px */
  line-height: 1.5em;
  color: #CCCCCC;  
  font-family: 'Gill Sans', arial, serif;
}

#secondary-menu.links li a {
  padding: 12px 15px 14px 15px;
}

#service-links.links li a {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 12px 15px 25px 25px;
  float: right;
}

.drupal a {
  background-image: url('/sites/all/themes/heyrocker/images/drupal.png');
  background-repeat: no-repeat;
}

.linkedin a {
  background-image: url('/sites/all/themes/heyrocker/images/linkedin.png');
  background-repeat: no-repeat;
}

.flickr a {
  background-image: url('/sites/all/themes/heyrocker/images/flickr.png');
  background-repeat: no-repeat;
}

.github a {
  background-image: url('/sites/all/themes/heyrocker/images/github_alt.png');
  background-repeat: no-repeat;
}


.twitter a {
  background-image: url('/sites/all/themes/heyrocker/images/twitter_alt.png');
  background-repeat: no-repeat;
}

.lastfm a {
  background-image: url('/sites/all/themes/heyrocker/images/last.fm.png');
  background-repeat: no-repeat;
}